<!DOCTYPE html>
<html ng-app="app">

	<head>
		<title>BI - Roma Consulting</title>
		<meta charset="utf-8">
		<meta name="author" content="FERREIRA CONSULTORIA E SERVICOS DE INFORMATICA LTDA">
		<meta name="description" content="Roma Consulting Web Page - BI">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!-- STYLES -->
		<link rel="stylesheet" href="../../../component/third-party/jquery-ui/1.12.1/jquery-ui.min.css">
		<link rel="stylesheet" href="../../../component/third-party/bootstrap/4.1.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../component/third-party/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="../../../component/third-party/font-awesome/5.2.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
		<link rel="stylesheet" href="../css/bi.css">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="shortcut icon" type="image/png" href="./icon.png"/>

		<script src="./module/landpage/controller/bi.js"></script>
		
		<!-- PORTAL -->
		<link rel="stylesheet" href="../../../component/portal/css/portal.css"/>
		
    </head>
	
	<body>
		<!-- INICIO -->
		<nav class="navbar" style="background-color:rgba(255, 255, 255, 0.863); box-shadow: 0px 4px 25px -10px rgba(69,69,69,1);">
			<span class="navbar-toggle" id="js-navbar-toggle" style="display: none;">
				<i class="fas fa-bars"></i>
			</span>
			<a href="./index.html" class="logo">
				<img id="imagem" src="./module/landpage/images/logo.png" style="height: 44px; margin-left: 16px;" alt="Roma Logo">
				<p class="landpage-roma align-text-top">Roma Consulting</p>
			</a>
		</nav>
			
		<!--HOME-------------------------------------------------------->
		<div class="row landpage-bi-home-foto" >
        </div>
		
		<!--BUSINESS INTELLIGENCE--------------------------------------->
		<div class="row">
			<div class="col landpage-bi-text-titulo-business">
				<h2> <span style="background-color: rgb(245, 245, 245);
					box-shadow: 10px 10px 1px -4px rgb(88 182 245);
					border: 1px solid rgba(0,0,0,.125);font-weight: 300; letter-spacing: -2px;">
					&nbsp;&nbsp; Business Intelligence &nbsp;&nbsp;</span></h2>
			</div>
		</div>
		<div class="landpage-bi-text-conteudo-business">
			<p style="text-indent: 40px"> Business Intelligence (BI) pode ser traduzido como inteligência de negócios, ou inteligência empresarial. O conceito
				surgiu na década de 90 e descreve as habilidades das corporações para aceder adados e explorar informações e recursos 
				financeiros em proveito dos diretores (normalmente contidas em um Data Warehouse/Data Mart), analisando-as e desenvolvendo
				percepções e entendimentos a seu respeito, o que lhes permite incrementar e tornar mais pautada em informações a tomada de decisão.
			</p>
			<p style="text-indent: 40px"> As organizações tipicamente recolhem informações com a finalidade de avaliar o ambiente empresarial, completando estas informações
				com pesquisas de marketing, industriais e de mercado, além de análises competitivas, podendo assim mais facilmente intrujar outros.
				Organizações competitivas acumulam "inteligência" à medida que ganham sustentação na sua vantagem competitiva, podendo considerar 
				tal inteligência como o aspecto central para competir em alguns mercados.
			</p>
			<p style="text-indent: 40px"> O principal benefício do BI para a empresa é a sua capacidade de fornecer informações precisas quando necessárias, incluindo uma 
				visão em tempo real do desempenho corporativo geral e de suas partes individuais, economia de tempo, versão única da verdade, 
				melhores estratégias e planos, melhores decisões táticas, processos mais eficientes e a economia de custos.
			</p>
			<br>
			<p style="font-weight: 500; color: #00427c;"> Atuamos com a prestação de serviço nas seguintes categorias:</p>
			<ul>
				<li>Levantamento de Requisitos;</li>
				<li>Análise de Dados;</li>
				<li>Projeto;</li>
				<li>Implantação;</li>
				<li>Desenvolvimento de Dashboards, Relatórios, Visualizações, ...;</li>
				<li>Desenvolvimento de ETL’s;</li>
				<!--<li>Desenvolvimento de ferramentas;</li>-->
				<li>Consultoria;</li>
				<li>Alocação especializada;</li>
				<li>Suporte e sustentação;</li>
				<li>Comercialização de softwares.</li>
			</ul>
			<br>
			<p style="text-indent: 40px; background-color: #efefef; padding: 15px;"> Nós da Roma Consulting provemos serviços nas plataformas de mercado como: DataStage, Cognos, Tableau, Oracle Discoverer, SSIS, 
				assim como desenvolvimento de ferramentas de BI com o intuito de atender as necessidades do cliente, utilizando como banco de dados
				relacionais Oracle, DB2, SQL Server, PostgreSQL, Mysql, Amazon Redshift e NoSQL como MongoDB, Cassandra.
			</p>
			<br>
		</div> 
		
		<!--FOOTER--------------------------------------------->
		<div class="row landpage-fooder-fundo" >
			<div class="col-3">
				<P class="align-self-center" href="logo.png"></P>
				<img src="./module/landpage/images/logo.png" class="landpage-logo-footer" width="100px" height="100px" style="padding-top: 12px">  
			</div>
			<div class="col-4 landpage-fooder-text">
				<div lass=" w-100 landpage-text-contato-firma">
					<h4 class="landpage-text-fooder-s landpage-text-600"><b>Roma Consulting - LTDA</b></h4>
					<p class="landpage-text-fooder">Edifício Neo Office Sala 207 </p>
					<p class="landpage-text-fooder">(34) 3221-1290 </p>
					<p class="landpage-text-fooder">contato@romaconsulting.com.br </p>
				</div>
			</div>
			<div class="col-4 landpage-fooder-text-s">
				<div class=" w-100 landpage-text-contato-firma" style="margin-left:50px;" >
					<h6 class="landpage-text-fooder-s"><b>Fernando Martins Ferreira</b></h6>
					<p class="landpage-text-fooder">(34) 99966-5672 </p>
					<p class="landpage-text-fooder">fernando@romaconsulting.com.br </p>
				</div>
			</div>
		</div>



        <!-- SCRIPTS THIRD-PARTY-->
		<script src="./module/landpage/controller/home.js"></script>
		<script src="https://www.youtube.com/player_api"></script>
		<script src="../../../component/third-party/jquery/3.3.1/jquery-3.3.1.min.js"></script>
		<script src="../../../component/third-party/jquery-ui/1.12.1/jquery-ui.min.js"></script>
        <script src="../../../component/third-party/jquery-blockui/jquery.blockUI.js"></script>
        <script src="../../../component/third-party/jquery-mousewheel/jquery-mousewheel.js"></script>
		<script src="../../../component/third-party/bootstrap/4.1.2/js/bootstrap.min.js"></script>
		<script src="../../../component/third-party/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="../../../component/third-party/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>		
        <script src="../../../component/third-party/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
		<script src="../../../component/third-party/assets/js/ie10-viewport-bug-workaround.js"></script>
		<script src="../../../component/third-party/angular/1.6.9/angular.min.js"></script>	
		<script src="../../../component/third-party/font-awesome/5.2.0/js/all.js"></script>
		<script src="../../../component/third-party/mascara/jquery.mask.js"></script>
        <script src="../../../component/third-party/mascara/jquery.mask.min.js"></script>
        

			
		<!-- PORTAL -->
		<script src="../../../component/portal/portal.js"></script>
		<script src="../../../component/portal/provider/cookie.js"></script>
		<script src="../../../component/portal/provider/config.js"></script>
		<script src="../../../component/portal/provider/extension.js"></script>
		<script src="../../../component/portal/provider/utility.js"></script>
		<script src="../../../component/portal/provider/angular.js"></script>
		<script src="../../../component/portal/provider/globalization.js"></script>
		<script src="../../../component/portal/provider/ui.js"></script>
		<script src="../../../component/portal/provider/notify.js"></script>
		<script src="../../../component/portal/provider/message-box.js"></script>
		<script src="../../../component/portal/provider/web.js"></script>		
        <script src="../../../component/portal/provider/service.js"></script>

		<!-- CONFIGURAÇÕES -->
		<script src="../../../config/message.pt-br.js"></script>
		<script src="../../../config/message.en-us.js"></script>
		<script src="../../../config/config.js"></script>

		<!-- SERVIÇOS -->
		<script src="../../../service/service.js"></script>

	</body>

</html>




