<head><meta charset="utf-8" /></head>
<link rel="stylesheet" href="./module/landpage/css/modal.css">
<script src="./module/landpage/controller/home.js"></script>

<div class="modal-body modal-text">
    <img src="./module/landpage/images/CONTRATA.png" class="landpage-modal-img-trabalhe">
</div>
<div class="landpage-modal-text-trabalhe">
    <p>Faça parte desta equipe, venha trabalhar na Roma Consulting. Envie seu currículo para <span style="font-weight: bold;">fernando@romaconsulting.com.br</span> contendo:</p>
        <ul>
            <li>Currículo em PDF anexado ao email;</li>
            <li>Carta de apresentação;</li>
            <li>Pretenção salarial CLT e PJ;</li>
            <li>Pretenção de modalidade de trabalho CLT ou PJ.</li>
        </ul>
    <p>Assim que tivermos oportunidade entraremos em contato, Obrigado.</p>
</div>

<toolbar-modal>
  <!--  <button ng-click="btnClose_Click()" class="btn btn-danger btn-outline-danger " data-dismiss="modal">
        <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;Fechar
    </button> -->
</toolbar-modal>
   